<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список тест кейсов</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cases/css/style.css' %}" />
</head>
<body>
{% if list_cases %}
    <ul>
        {% for case in list_cases %}
            <li><a href="{% url 'cases:detail_case' case.id %}">{{ case.id }} {{ case.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Что то ничего не нашлось(</p>
{% endif %}
</body>
</html>
